.h_cap {
	display: block;
	position: relative;
	width: 100%; 
	height: 33.333%;
	border: 0.25rem solid rgba(127,56,63,.7);
	box-sizing:border-box;
}
.h_cap_txt {
	display: block;
	position: relative;
	width: 100%; 
	height: 100%;			
	background-color: #CFC;
	font-size: 1.9rem;
	line-height: 1.5; 
	overflow-x:  hidden;
}
.b_all {
	display: block;
	position: relative;
	width: 100%; 
	height: 66.667%;		
	border: 0.25rem solid rgba(56,127,63,.7);
	box-sizing:border-box;
}
.b_left {
	float: left;
	width: 20%;
	height: 100%;			
	background-color: #DFA;
	font-size: 3rem;
	line-height: 1.5; 
	overflow-x:  auto;
	text-align: justify;
}
#b_right {
	float: left;
	width: 80%;
	height: 100%;			
	background-color: #BCD;
	font-family: "Verdana";
	overflow-x:  auto;
	text-align: justify;
	box-sizing:border-box;
	border-style: solid;
	border-color: rgba(255,255,255,.2);
	border-width:1.56rem ;
}
#met01 {
	display: block;
	position: relative;
	font-size: 1.0rem;
    line-height: 2rem;
    text-decoration: underline;
	text-decoration-style: solid;
}
#text {
	display: block;
	position: relative;
	width: 100%;
	height: calc(100% - 2rem); 
	text-indent: 3rem;
	font-size: 1.2rem;
    line-height: 1.5;
	overflow: auto;
	padding: 0.25rem 0.5rem 0.25rem 0.5rem;
	background: #f3ffff;
}
#check1 {
	width: 1.9rem;
	height: 1.9rem;				
}
